body {
    background: url("./imgs/losangeles.jpeg") center fixed;
    background-size: cover;
}
viewport {
    width: 100%;
}
#career {
    font-weight: bold;
    font-style: italic;
}
#gaming, #coding, #outdoors, #food, #travel {
    padding: 5px;
    border: solid white;
    text-align: center;
}

.croft {
    list-style-type: none;
}