#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

viewport {
    width: 100%;
}
#career {
    font-weight: bold;
    font-style: italic;
}
#gaming, #coding, #outdoors, #food, #travel {
    padding: 5px;
    border: solid white;
    text-align: center;
}

.croft {
    list-style-type: none;
}